<!-- Footer-->

<footer class="ms-3">
    <hr>
    <div class="ms-5">
        <p style="font-weight: 300; font-size: small;">Copyright ⓒ 1995-2023 SAMSUNG All Rights reserved. <br><br>


            Please dispose of e-waste and plastic waste responsibly. <br>
            For more information or e-waste pick up, please call 1800 5 7267864 or click here for more details. <br><br>

            Registered Office Address: 6th Floor, DLF Centre, Sansad Marg, New Delhi-110001 <br>
            Corporate Identification Number (CIN): U31900DL1995PTC071387</p>
    </div>
    <hr>
    <div class="row">
        <div class=" col-lg-8 md-12 sm-12 4  ms-5 d-flex pb-3">
            <p style="font-size: small; font-weight: 500;" class="">India/English</p>
            <p style="font-size: small;" class="ms-5">Privacy</p>
            <p style="font-size: small;" class="ms-3">Legal</p>
            <p style="font-size: small;" class="ms-3">Sitemap</p>

        </div>
        <div class="col-lg-3 md-12 sm-12 fs-5 text-end">
            <a href=""><i class="fa-brands fa-facebook text-dark"></i></a>
            <a href=""><i class="fa-brands fa-twitter ms-3 text-dark"></i></a>
            <a href=""><i class="fa-brands fa-instagram ms-3 text-dark"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp ms-3 text-dark"></i></a>
            <a href=""><i class="fa-brands fa-youtube ms-3 text-dark"></i></a>
            <a href=""><i class="fa-brands fa-linkedin ms-3 text-dark"></i></a>

        </div>
    </div>
</footer>